h1,
h2,
h3,
p {
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
  background-image: url("../media/pattern.webp");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.image {
  width: 250px;
  height: 250px;
}

.paint {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
